<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.samplebrowser.uwp.common" version="32.1.19" />
  <package id="syncfusion.samplebrowser.uwp.docio" version="32.1.19" />
  <package id="syncfusion.samplebrowser.uwp.pdf" version="32.1.19" />
  <package id="syncfusion.samplebrowser.uwp.presentation" version="32.1.19" />
  <package id="syncfusion.samplebrowser.uwp.xlsio" version="32.1.19" />
</packages>