<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.samplebrowser.uwp.common" version="31.2.2." />
  <package id="syncfusion.samplebrowser.uwp.common.dll" version="31.2.2." />
  <package id="syncfusion.officechart.uwp.dll" version="31.2.2." />
  <package id="syncfusion.presentation.uwp.dll" version="31.2.2." />
  <package id="syncfusion.officecharttoimageconverter.uwp.dll" version="31.2.2." />
  <package id="syncfusion.sfchart.uwp.dll" version="31.2.2." />
  <package id="syncfusion.sfaccordion.uwp.dll" version="31.2.2." />
  <package id="syncfusion.sfinput.uwp.dll" version="31.2.2." />
  <package id="syncfusion.sfshared.uwp.dll" version="31.2.2." />
  <package id="syncfusion.sftabcontrol.uwp.dll" version="31.2.2." />
</packages>